
body{
    background: rgb(18, 19, 41);
    font-size: 20px;
    color:rgb(0, 0, 0);
    font-family: 'minhafont', sans-serif;
    text-align: center;
    align-items: center;

button{
    padding: 20px 40px ;
    font-size: 20px;
    background:rgb(255, 255, 255);
    border-radius: 10px;
    color:rgb(0, 0, 0);
}
button:hover{
    background:rgb(168, 167, 167);
    color:rgb(82, 81, 81);
    margin:10px
}
input{
    background: #ffffff;
    height: 30px;
    width: 500px;
    font-size:15px;
    margin: 2px;
    color:rgb(0, 0, 0);
    border-radius:10px;
}
@font-face {
    font-family: 'minhafont';
    src: url('LOCATIONFONT');
}
.rect1{
    background:rgba(255, 0, 0, 0) ;
    height: 1090px;
    width: 1930px;
    border:2px solid #ffff ;

}
}
.rect2{

    width:350px ;
    height:200px;
    background-color: #ffffff;
    border-radius: 10px;
    border:#ffffff 10px;

}

