body{
    background: rgb(18, 19, 41);
    text-align: midle-center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color:white;
}
button{
    padding: 20px 40px ;
    font-size: 20px;
    background:rgba(245, 245, 245, 0);
    border-radius: 10px;
    color:rgb(255, 255, 255);
}
button:hover{
    background:rgba(0, 0, 0, 0.247);
    color:rgb(255, 255, 255);
    margin:10px
}
input{
    background: #00000000;
    height: 30px;
    width: 500px;
    font-size:15px;
    margin: 2px;
    color:rgb(255, 255, 255);
    border-radius:10px;
}